<!DOCTYPE html>
<html>
<head>
    <title>IREVOLUTION: A DATA-DRIVEN EXPLORATION OF APPLE'S IPHONE IMPACT</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/st.css') }}">
</head>
<body>
    <h1>IREVOLUTION: A DATA-DRIVEN EXPLORATION OF APPLE'S IPHONE IMPACT</h1>
    <div class="container">
        <a class="link" href="{{ url_for('dashboard') }}">Dashboard</a>
        <a class="link" href="{{ url_for('story') }}">Story</a>
     
    </div>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
